/*コンテンツのデザイン*/
.address-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    font-size: 24px;
}

.address-form__heading {
    text-align: center;
    font-size: 36px;
}

.address-form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-form__form {
    width: 100%;
    max-width: 680px;
    margin-top: 50px;
}

.address-form__group {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.address-form__label {
    font-weight: 700;
}

.address-form__input {
    display: block;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 9.5px;
    margin: 2px 0 20px;
}

.address-form__error-message {
    color: #FF5555;
    font-weight: 600;
    font-size: 20px;
}

.address-form__btn {
    width: 100%;
    margin-top: 80px;
}