body {
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    height: 82px;
    padding: 0 30px 0 25px;
    background-color: #000;
    width: 100%;
}

@media (max-width: 850px) and (min-width: 768px) {
    .header {
        padding: 0 7px 0 10px;
    }

    .header-logo {
        height: 28px;
    }
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    position: relative;
    left: 15px;
}

.header-search-form__form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding:  5px 20px;
    height: 50px;
    width: 500px;
}

.header-search-form__input {
    border: none;
}

.header-nav {
    width: 100%;
    justify-items: end;
}

.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__item {
    flex: auto;
    text-align: center;
    margin-left: 10px;
}

.header-nav__item:not(:last-child) {
    margin-right: 23px;
}

@media (max-width: 850px) and (min-width: 768px) {
    .header-nav-item:not(:last-child) {
        margin-right: 8px;
    }
}

.header-nav__item:last-child {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 4px;
    align-content: center;
}

.header-nav__link,
.header-nav__btn {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 850px) and (min-width: 768px) {
    .header-nav-link,
    .header-nav-btn {
        font-size: 19px;
    }
}

.header-nav__link-sell {
    color: #000;
}

.content {
    display: flex;
    flex-direction: column;
    height:  100%;
    width: 100%;
}

.btn {
    display: block;
    padding: 15px;
    background-color: #FF5555;
    color: #FFF;
    border-radius: 5px;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

.link {
    color: #0073CC;
    font-size: 24.2px;
    text-decoration: none;
    cursor: pointer;
}

