html,
body {
    height: 100%;
    /*以下追加した*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*これ追加した*/
    width: 100%;
}

.header {
    background: #000;
    font-size: 24px;
    height: 82px;
    display: flex; /*grigからflexに変更*/
    align-items: center;
    /*grid~の部分をけして以下追加*/
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;

    /*grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;*/
}

.header-logo,
.header-search-form,
.header-nav {
    /*flex: 1;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.header-logo {
    margin: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    height:  100%;
    /*これ追加した*/
    width: 100%;
}

.btn {
    display: block;
    padding: 15px;
    background-color: #FF5555;
    color: #FFF;
    border-radius: 5px;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

.link {
    color: #0073CC;
    font-size: 24.2px;
    text-decoration: none;
    cursor: pointer;
}