/*コンテンツのデザイン*/
.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    font-size: 24px;
}

@media (max-width: 850px) and (min-width: 768px) {
    .profile-form {
        padding: 50px 60px;
    }
}

.profile-form__heading {
    text-align: center;
    font-size: 36px;
    margin: 20px;
}

.profile-form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form__form {
    width: 100%;
    max-width: 680px;
}

/*画像選択のデザイン*/
.profile-form__group--img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.profile-form__img {
    width: calc(30%);
    position: relative;
    right: 20px;
}

.profile-form__upload {
    padding: 8px 18px;
    font-size: 20px;
    font-weight: 700;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 850px) and (min-width: 768px) {
    .profile-form__img {
        right: 15px;
    }
}

/* その他入力箇所のデザイン */
.profile-form__group {
    display: flex;
    flex-direction: column;
}

.profile-form__label {
    font-weight: 700;
}

.profile-form__input {
    display: block;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 12px;
    font-size: 24px;
}

.profile-form__error-message {
    color: #FF5555;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.profile-form__btn {
    width: 100%;
    margin-top: 50px;
}