/* ヘッダーのデザイン */
.header-search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search-form__form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding:  5px 10px;
    height: 50px;
    width: 500px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav__item {
    flex: auto;
    width: 135px;
    text-align: center;
    margin-left: 15px;
}

.header-nav__item:last-child {
    background-color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    margin-left: 30px;
    align-content: center;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__link-sell {
    color: #000;
}

/* コンテンツのデザイン */
.item-form__ttl {
    padding-bottom: 10px;
    margin: 50px 0 35px;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    font-size: 24px;
}

.item-form__heading {
    text-align: center;
    font-size: 36px;
}

.item-form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.item-form__form {
    width: 100%;
    max-width: 680px;
}


.item-form__group {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.item-form__label {
    font-weight: 700;
}

.item-form__input {
    display: block;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 9.5px 15px;
    margin: 2px 0;
    font-size: 16px;
    font-weight: 700;
}

textarea.item-form__input{
    height: 125px;
    resize: none;
}

.item-form__error-message {
    color: #FF5555;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.item-form__btn {
    width: 100%;
    margin-top: 100px;
}
