.header-search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search-form__form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding:  5px 10px;
    height: 50px;
    width: 500px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav__item {
    flex: auto;
    width: 135px;
    text-align: center;
    margin-left: 15px;
}

.header-nav__item:last-child {
    background-color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    margin-left: 30px;
    align-content: center;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__link-sell {
    color: #000;
}

/**ここからヘッダー編集後に追加した*/
.tabs {
    margin-top:60px;
    font-size: 24px;
}

.tab-nav {
    max-width: 100%;
    border-bottom: 2px solid #5F5F5F;
}

.tab-nav a {
    text-decoration: none;
    color: #5F5F5F;
    font-weight: 700;
}

.tab-nav a.active {
    color: #FF0000;
}

.tab-nav__list {
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.tab-nav__item {
    width: 135px;
    height: 40px;
    text-align: right;
    margin-left: 75px;
}

.tab-content {
    margin: 100px;
}