/* タブ切替部分のデザイン */
.tabs {
    margin-top:60px;
    font-size: 24px;
}

.tab-nav {
    max-width: 100%;
    border-bottom: 2px solid #5F5F5F;
}

.tab-nav a {
    text-decoration: none;
    color: #5F5F5F;
    font-weight: 700;
}

.tab-nav a.active {
    color: #FF0000;
}

.tab-nav__list {
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.tab-nav__item {
    width: 135px;
    height: 40px;
    text-align: right;
    margin-left: 75px;
}

.tab-content {
    margin: 50px auto;
    width: 100%;
}

/* 商品 */
.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* 画像間の余白 */
    margin: 0 auto;
    padding: 0 50px;
    font-size: 25px;
}

.item-card__link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.item-card {
    width: calc(25% - 38px); /* 4つ並ぶ調整 */
    text-align: left;
}

.item-card__img {
    width: 100%;
    aspect-ratio: 1 / 1; /* 画像正方形 */
    object-fit: cover;
}